.heropage {
    display: flex;
    z-index: 100;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* background: yellow; */
    width: 85vw;
    height: 100vh;
}

.heroCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
    width: 60vw;
    height: 45vh;
}

#hi {
    font-size: 1.2em;
    color: #64ffda;
}

#name {
    font-size: 5vw;
    color: white;
    margin-top: 0.3em;
}

#subName {
    font-size: 5vw;
    color: #8892b0;
}

#heroText {
    /* background: teal; */
    line-height: 1.5em;
    width: 50vw;
    color: #8892b0;
    font-size: 1.1em;
    margin-top: 1em;
}

#company {
    color: #64ffda;
    text-decoration: none;
    background-image: linear-gradient(#64ffda, #64ffda);
    background-size: 0% 1px;
    background-position-y: 100%;
    background-position-x: 49%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
}

#company:hover,
#compnay:focus,
#company:active {
    background-size: 80% 1px;
}

#heroButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #64ffda;
    border-radius: 5px;
    width: 12.5em;
    font-size: 14pt;
    margin-top: 2em;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #64ffda;
    transition: 0.3s;
    cursor: pointer;
}

#heroButton:hover {
    background-color: #233554;
    transition: 0.3s;
}