.heropage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: yellow;
    width: 85vw;
    height: 100vh;
}
