.heropage {
    display: flex;
    z-index: 100;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* background: yellow; */
    width: 85vw;
    height: 90vh;
    min-width: 375px;
    min-height: 654px;
    margin-bottom: 10px;
}

.heroCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
    width: 60vw;
    height: 50vh;
}

#hi {
    font-size: 1.1em;
    color: #64ffda;
    font-family: 'Roboto Mono';
}

#name {
    font-size: calc(12px + 4.5vw);
    color: white;
    margin-top: 0.3em;
    font-family: 'Inter';
}

#subName {
    font-size: 4.5vw;
    color: #8892b0;
    font-family: 'Inter';
}

#heroText {
    /* background: teal; */
    line-height: 1.5em;
    width: 50vw;
    color: #8892b0;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Open Sans';
}

#company {
    color: #64ffda;
}

#heroButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #64ffda;
    border-radius: 5px;
    width: 12.5em;
    font-size: 12pt;
    margin-top: 1rem;
    padding: 15px;
    color: #64ffda;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Roboto Mono';
}

#heroButton:hover {
    background-color: #233554;
    transition: 0.3s;
}

@media screen and (max-width: 800px) {
    #name {
        color: white;
        margin-top: 0.3em;
    }
}

@media screen and (max-width: 500px) {
    .heropage {
        min-height: 0;
    }
    .heroCont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: red; */
        width: 60vw;
        height: auto;
    }
    #name {
        color: white;
        margin-top: 0.3em;
    }
    #heroButton {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #64ffda;
        border-radius: 5px;
        width: 40vw;
        font-size: 3vw;
        padding-bottom: 1rem;
        color: #64ffda;
        transition: 0.3s;
        cursor: pointer;
    }
    #heroText {
        margin-bottom: 1em;
    }
}