.socialbar {
    display: flex;
    z-index: 4;
    justify-content: center;
    align-items: flex-end;
    width: 7.5vw;
    height: 100vh;
    background-color: #0a192f;
    color: #8892b0;
    /* border-right: 1px solid white; */
}

.socialbar ul {
    height: 320px;
    list-style-type: none;
    text-align: center;
    line-height: 50px;
}

.socials {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
}

.socials a {
    transition: 0.3s;
    cursor: pointer;
}

#github:hover {
    transition: 0.3s;
    color: #64ffda;
}

#linkedin:hover {
    transition: 0.3s;
    color: #64ffda;
}

#codepen {
    margin-bottom: 20px;
}

#codepen:hover {
    transition: 0.3s;
    color: #64ffda;
}

#vl {
    border-right: 1px solid white;
    height: 150px;
    margin-right: 10px;
    cursor: default;
}
