#about {
    display: flex;
    z-index: 100;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: green;
    width: 85vw;
    height: 100vh;
}

/* .aboutwords {
    display: flex;
    justify-content: space-between;
    width: 50rem;
    height: 30rem;
    background-color: blue;
} */
