#about {
    display: flex;
    z-index: 100;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: green;
    width: 85vw;
    height: 100vh;
}

.aboutwords {
    display: flex;
    flex-direction: row;
}

.aboutText {
    background-color: red;
    height: 65vh;
    width: 40vw;
}

.aboutHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 40vw;
}

#sideline {
    border-top: 1px solid white;
    width: 100px;
}

#techlist {
    display: flex;
    flex-direction: row;
}

.aboutpic {
    background-color: yellow;
    width: 30vw;
}