#about {
    display: flex;
    flex-direction: column;
    height: 80vh;
    min-height: 550px;
    min-width: 725px;
    width: 60vw;
    z-index: 100;
    /* background: blue; */
    color: white;
    flex-grow: 1;
    margin-bottom: 5em;
}

.aboutCont {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.aboutHeader { 
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-size: 1.3em;
    /* background-color: red; */
    font-family: 'Inter';
}

#aboutNum {
    color: #64ffda;
}

.aboutDesc {
    height: 85%;
    width: 55%;
    /* background-color: red; */
    color: #8892b0;
    font-family: 'Open Sans';
    font-size: 1em;
    margin-right: 10px;
}

#aboutName {
    color: #64ffda;
}

.aboutPicture {
    display: flex;
    justify-content: center;
    height: 85%;
    width: 45%;
    /* background-color: green; */
}

#monke {
    height: 300px;
    width: 300px;
}

.technologies {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    /* background-color: yellow; */
    min-height: 66px;
}

.techList {
    list-style-position: inside;
    margin-right: 30px;
    width: 200px;
    height: 66px;
    font-size: 0.9em;
    color: #64ffda;
    font-family: 'Roboto Mono';
    margin-bottom: 1em;
}

@media screen and (max-width: 900px) {
    #about {
        height: auto;
        min-width: 0;
    }
    .aboutCont {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .aboutDesc {
        width: 100%;
    }
    .aboutPicture {
        width: 100%;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    #about {
        height: auto;
        min-width: 300px;
        padding-bottom: 8em;
    }
    .aboutPicture {
        margin-top: 3em;
    }
    #monke {
        height: auto;
        width: 80%;
    }
}