.featured {
    display: flex;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* background: teal; */
    width: 75vw;
    height: 175vh;
    border: 1px solid white;
}

.featuredHeader {
    width: 75vw;
    background-color: red;
}

.featuredCont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75vw;
    height: 175vh;
    min-height: 1590px;
    background-color: green;
}

.alignedProjects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    color: white;
    background-color: blue;
    height: 45vh;
    width: 100%;
}

.projectImageCont {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
}

.projectImage {
    height: auto;
    max-width: 100%;
    cursor: pointer;
}

.projectText {
    display: flex;
    flex-direction: column;
    text-align: right;
    background-color: yellow;
    height: 25vh;
    width: 40vw;
    grid-column: 2 / -1;
    justify-self: right;
    align-self: center;
}

.textBox {
    background-color: #0a192f;
}

.projectImageCont, .projectText {
    grid-row: 1 / 2;
}

.projectTech {
    display: flex;
    flex-direction: row;
    text-align: right;
    background-color: pink;
}

.projectTech p {
    margin-left: 30px;
}

.projectSocials {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: red;
}

.projectSocials p {
    margin-left: 10px;
    font-size: 1.25em;
}

/* Offset Begins Here */

.offsetProject {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    color: white;
    background-color: pink;
    height: 45vh;
    width: 100%;
}

.offsetImageCont {
    display: flex;
    justify-content: end;
    align-items: center;
    grid-column: 1 / 3;
    order: 1;
    width: 75vw;
    background-color: white;
}

.offsetImage {
    height: auto;
    max-width: 67%;
    cursor: pointer;
}

.offsetText {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: yellow;
    height: 25vh;
    width: 40vw;
    grid-column: 2 / -1;
    align-self: center;
    order: 2;
    position: absolute;
}

.offsetTextBox {
    background-color: #0a192f;
}

.offsetText, .offsetImageCont {
    grid-row: 1 / 2;
}

.offsetTech {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: pink;
}

.offsetTech p {
    margin-right: 30px;
}

.offsetSocials {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: red;
}

.offsetSocials p {
    margin-right: 10px;
    font-size: 1.25em;
}


@media screen and (min-width: 1600px) {
    .projectImageCont {
        max-width: 800px;
        max-height: 400px;
    }
}