.featured {
    display: flex;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* background: teal; */
    width: 60vw;
    height: 155vh;
    /* border: 1px solid white; */
    min-width: 375px;
    min-height: 1175px;
}

.featuredHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60vw;
    /* background-color: red; */
    color: white;
    font-size: 1.25em;
    min-height: 70px;
    font-family: 'Inter';
    margin-bottom: 20px;
}

.featuredHeader p {
    /* background-color: blue; */
    margin-right: 25px;
    min-width: 260px;
}

.featuredNum {
    color: #64ffda;
}

#featuredLine {
    border-top: 1px solid #8892b0;
    width: 35vw;
}

.featuredCont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60vw;
    height: 155vh;
    /* background-color: green; */
    min-height: 1175px;
    margin-top: 2em;
}

.alignedProjects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    color: white;
    /* background-color: blue; */
    height: 45vh;
    min-height: 425px;
    width: 100%;
}

.projectLayer {
    display: none;
}

.projectImageCont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    grid-column: 1 / 3;
    /* background-color: red; */
}

.projectImage {
    max-width: 100%;
    /* background-color: red; */
}

.projectText {
    display: flex;
    flex-direction: column;
    text-align: right;
    /* background-color: yellow; */
    height: 30vh;
    width: 35vw;
    grid-column: 2 / -1;
    justify-self: right;
    align-self: center;
    min-height: 222px;
}

.headerCont {
    margin-bottom: 1.2em;
}

.projectHeader {
    margin-bottom: 0.5em;
    color: #64ffda;
    font-family: 'Roboto Mono';
}

.projectName {
    color: #ccd6f6;
    font-family: 'Inter'
}

.textBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112240;
    padding: 2em;
    height: 10em;
    border-radius: 0.5em;
    font-family: 'Open Sans';
}

.projectImageCont, .projectText {
    grid-row: 1 / 2;
}

.projectTech {
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-align: right;
    padding: 1em;
    padding-right: 0;
    /* background-color: pink; */
    color: #a8b2d1;
}

.projectTech p {
    margin-left: 30px;
    font-family: 'Roboto Mono';
}

.projectSocials {
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* background-color: red; */
    font-size: 1.3em;
    color:#ccd6f6;
}

.projectSocials a {
    margin-left: 1em;
}

.projectSocials p {
    margin-left: 10px;
    font-size: 1.25em;
}

/* Offset Begins Here */

.offsetProject {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    color: white;
    /* background-color: pink; */
    height: 45vh;
    min-height: 425px;
    width: 100%;
}

.offsetImageCont {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / span 2;
    height: 100%;
    width: 100%;
    order: 2;
    /* background-color: white; */
}

.offsetImage {
    max-width: 100%;
}

.offsetText {
    display: flex;
    flex-direction: column;
    text-align: left;
    grid-column: 1 / 3;
    /* background-color: yellow; */
    height: 30vh;
    width: 35vw;
    align-self: center;
    min-height: 222px;
    z-index: 100;
    order: 1;
}

.offsetTextBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112240;
    padding: 2em;
    height: 10em;
    border-radius: 0.5em;
    font-family: 'Open Sans';
}

.offsetText, .offsetImageCont {
    grid-row: 1 / 2;
}

.offsetTech {
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: left;
    padding: 1em;
    padding-left: 0;
    /* background-color: pink; */
    color: #a8b2d1;
}

.offsetTech p {
    margin-right: 30px;
    font-family: 'Roboto Mono';
}

.offsetSocials {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 1.3em;
    color:#ccd6f6;
    /* background-color: red; */
}

.offsetSocials a {
    margin-right: 1em;
}

.offsetSocials p {
    margin-right: 10px;
    font-size: 1.25em;
}


@media screen and (min-width: 1600px) {
    .projectImageCont {
        max-width: 800px;
        max-height: 400px;
    }
}

/* Media Query for Layered Content */

@media screen and (max-width: 1100px) {
    .featured {
        min-height: 1550px;
    }
    .featuredCont {
        justify-content: space-around;
        min-height: 1550px;
    }
    .alignedProjects {
        display: grid;
    }
    .projectText {
        text-align: left;
        justify-content: center;
        width: 80vw;
        height: 100%;
        background-color: rgba(136, 146, 176, 0.1);
        padding-left: 1em;
        z-index: 101;
    }
    .projectImageCont {
        height: 100%;
        /* background-color: red; */
    }
    .projectImage {
        height: 100%;
        max-width: 100%;
        cursor: default;
        opacity: 0.2;
    }
    .projectText, .projectImageCont {
        grid-column: 1;
        grid-row: 1;
    }
    .projectTech {
        /* background-color: green; */
        justify-content: start;
        margin: 0;
        padding-left: 0;
    }
    .textBox {
        height: 1em;
        padding-left: 0;
        background: none;
        min-height: 50px;
        min-width: 250px;
    }
    .projectTech p {
        margin-left: 0;
        margin-right: 30px;
    }
    .projectSocials {
        justify-content: start;
    }
    .projectSocials a {
        margin-left: 0;
        padding-right: 0.5em;
    }
    .offsetText {
        text-align: left;
        justify-content: center;
        width: 80vw;
        height: 100%;
        background-color: rgba(136, 146, 176, 0.1);
        padding-left: 1em;
        z-index: 101;
    }
    .offsetTextBox {
        height: 1em;
        background: none;
        padding-left: 0;
        min-height: 50px;
        min-width: 250px;
        /* background-color: blue; */
    }
    .offsetImageCont {
        height: 100%;
        width: 100%;
        grid-column: 1 / span 2;
    }
    .offsetImage {
        height: 100%;
        max-width: 100%;
        cursor: default;
        opacity: 0.2;
    }
}

/* Media Query for Layered Content */

@media screen and (max-width: 880px) {
    .featuredHeader p {
        font-size: 1.2rem;
        width: 90vw;
        min-width: 260px;
    }
    #featuredLine {
        margin-left: -1em;
        width: 100vw;
    }
    .textBox {
        height: auto;
        /* background-color: red; */
        padding: 0.5em;
        padding-left: 0;
    }
}
