.companyTitle {
    color: #64ffda;
}

.jobTitle {
    font-family: 'Inter';
}

.jobDate {
    color: #a8b2d1;
    margin-top: 0.5em;    
    font-family: 'Roboto Mono';
}

.jobDesc {
    margin-top: 1.5em;
    text-align: left;
    font-size: 1.25em;
    margin-left: 15px;
    color: #8892b0;
    font-family: 'Open Sans';
}

.jobDesc li {
    list-style-type: '▸';
    padding-inline-start: 1ch;
    padding-top: 10px;
    padding-bottom: 10px;
}

.jobDesc li::marker {
    color: #64ffda;
}
