.worked {
    display: flex;
    z-index: 100;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    /* background: pink; */
    width: 50vw;
    height: 70vh;
    color: white;
}

.workedHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    /* background-color: blue; */
}

#workednum {
    color: #64ffda;
}

#workline {
    width: 200px;
    border-bottom: 1px solid gray;
    color: black;
    margin-left: 20px;
}

.workedContent {
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
    /* background-color: blue; */
}

.workedNav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    /* background-color: green; */
    width: 10em;
    height: 20em;
    margin-right: 35px;
}

.jobItem {  
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-left: 20px;
    /* background-color: red; */
    width: 150px;
    height: 100px;
    border-left: 2px solid #8892b0;
    cursor: pointer;
    transition: 0.3s;
}

.jobItem:hover {
    color: #64ffda;
    background-color: #233554;
    cursor: pointer;
    transition: 0.3s;
}

.jobItem:active {
    color: #64ffda;
    border-left: 2px solid #64ffda
}

.workedJobs {
    background-color: blue;
    width: 40em;
}

.jobDescription {
    font-size: 16pt;
}


