.worked {
    display: flex;
    z-index: 100;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    /* background: pink; */
    width: 50vw;
    height: 65vh;
    color: white;
}

.workedHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5em;
    /* background-color: blue; */
    width: 50vw;
}

.workedHeader p {
    /* background-color: red; */
    min-width: 10em;
}

#workednum {
    color: #64ffda;
}

#workline {
    width: 100vw;
    border-bottom: 1px solid gray;
    color: black;
    margin-left: 50px;
}

.workedContent {
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
    /* background-color: blue; */
}

.workedNav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    /* background-color: green; */
    width: 10em;
    height: 20em;
    margin-right: 35px;
}

.jobItem {  
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-left: 20px;
    /* background-color: red; */
    width: 150px;
    height: 100px;
    border-left: 2px solid #8892b0;
    cursor: pointer;
    transition: 0.3s;
}

.jobItem:hover {
    color: #64ffda;
    background-color: #233554;
    cursor: pointer;
    transition: 0.3s;
}

.jobItem:active {
    color: #64ffda;
    border-left: 2px solid #64ffda
}

.workedJobs {
    /* background-color: green; */
}

.jobDescription {
    font-size: 16pt;
}

@media screen and (max-width: 1000px) {
    .worked {
        display: flex;
        z-index: 100;
        align-items: center;
        flex-direction: column;
        position: relative;
        /* background: pink; */
        width: 50vw;
        height: 65vh;
        color: white;
    }
    .workedNav {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* background-color: green; */
        height: 50px;
        width: 80vw;
        min-width: 40em;
        margin-right: 0;
        margin-top: -20px;
        margin-bottom: 50px;
    }
    .workedContent {
        flex-direction: column;
        align-items: center;
        /* background-color: blue; */
        width: 30em;
    }
    .workedHeader {
        justify-content: center;
        align-items: center;
        width: 10em;
        height: 1em;
    }
    #workednum {
        margin-left: 8px;
    }
    .jobItem {
        border-left: 0;
        height: 50px;
        width: 150px;
        /* background-color: red; */
        padding-left: 0px;
        margin-left: 0px;
        font-size: 12pt;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid white;
    }
    #workline {
        display: none;
    }
    .workedJobs {
        width: 80vw;
    }
}